table {
    border: 1px solid black;
    height:300px;
    
}

th,td {
    border: 1px solid black;
    font-size: 38px;
    padding-top: 0;
    padding-bottom: 0;
    padding: 8px;
}

td {
    font-weight: 450;
    text-align: center;
}

th {
    font-weight: 520;
    
}

.left-aligned {
    text-align: left;
}

thead :first-child,
thead :last-child,
tfoot td {
    text-align: left;
    padding-left: 10px;
}
